<div class="card p-3 mb-3 shadow-sm">
  <h4>Ajouter une catégorie</h4>
  <p class="text-muted">
    Remplissez le formulaire ci-dessous pour ajouter une nouvelle catégorie.
  </p>
  <hr />
  <div class="mb-3">
    <a routerLink="/categories" class="btn btn-secondary btn-sm">
      <i class="bi bi-arrow-left me-1"></i> Retour à la liste
    </a>
  </div>
  <div>
    <h5 class="mb-3">
      {{
        mode === "ajout" ? "Ajouter une Catégorie" : "Modifier une Catégorie"
      }}
    </h5>
  </div>
  <form #categorieForm="ngForm" (ngSubmit)="submitCategorie()" novalidate>
    <!-- Nom de la catégorie -->
    <div class="mb-3">
      <label for="nom" class="form-label">Nom</label>
      <input
        type="text"
        class="form-control"
        id="nom"
        name="nom"
        [(ngModel)]="categorie.nom"
        #nomRef="ngModel"
        required
      />
      <div class="text-danger" *ngIf="nomRef.invalid && nomRef.touched">
        Le nom est obligatoire.
      </div>
    </div>
    <button
      type="submit"
      class="btn btn-success w-100"
      [disabled]="categorieForm.invalid"
    >
      Ajouter
    </button>
  </form>
</div>
