<div class="app-topstrip bg-dark text-white p-y-16 p-x-24 w-100 d-flex align-items-center justify-content-between">
    <div class="d-none d-sm-flex align-items-center justify-content-center gap-20">

        <div class="linkbar d-none d-lg-flex align-items-center justify-content-center gap-16">
            <!-- Templates -->
            <a mat-button class="link-hover p-x-0 text-white d-flex" routerLink="/client/panier"
                target="_blank">
                <div class="d-flex align-items-center gap-8 f-s-16 f-w-400">
                    <i class="iconify icon-20 d-flex" data-icon="solar:window-frame-linear"></i>
                   Mon panier
                </div>
            </a>

            <!-- Support -->
            <a mat-button class="link-hover p-x-0 text-white d-flex"  routerLink="/client/facture"
                target="_blank">
                <div class="d-flex align-items-center gap-8 f-s-16 f-w-400">
                    <i class="iconify icon-20 d-flex" data-icon="solar:question-circle-linear"></i>
                    Mes factures
                </div>
            </a>

            <!-- Hire Us -->
            <a mat-button class="link-hover p-x-0 text-white d-flex" href="/client/commande/clientCommander"
                target="_blank">
                <div class="d-flex align-items-center gap-8 f-s-16 f-w-400">
                    <i class="iconify icon-20 d-flex" data-icon="solar:case-round-linear"></i>
                    Mes commande
                </div>
            </a>
        </div>
    </div>

<button class="btn btn-outline-primary" (click)="modifierProfil()">
  <i class="bi bi-pencil me-1"></i> Modifier mon profil
</button>
</div>
